{% extends "core/base.html" %}
{% block content %}
<body class="app">   	

    <div class="app-wrapper">
	    <div class="app-content pt-3 p-md-3 p-lg-4">
		    <div class="container-xl">
			    
			    <div class="row g-3 mb-4 align-items-center justify-content-between">
				    <div class="col-auto">
			            <h1 class="app-page-title mb-0">Members</h1>
				    </div>
				    <div class="col-auto">
					     <div class="page-utilities">
						    <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
							    <div class="col-auto ">
								    <form class="table-search-form row gx-1 align-items-center ml-5" method="GET" action="{% url 'member_search' %}">
					                    <div class="col-auto">
					                        <input type="text" id="search-orders" class="form-control search-orders" placeholder="Search Member" name="q" value="{{ query }}">
					                    </div>
					                    <div class="col-auto">
					                        <button type="submit" class="btn app-btn-secondary">Search</button>
					                    </div>
					                </form>
					                
							    </div><!--//col-->
							    {% comment %} <div class="col-auto">
								    
								    <select class="form-select w-auto" >
										  <option selected value="option-1">All</option>
										  <option value="option-2">This week</option>
										  <option value="option-3">This month</option>
										  <option value="option-4">Last 3 months</option>
										  
									</select>
							    </div> {% endcomment %}
							    <div class="col-auto">						    
								    <a class="btn app-btn-secondary" href="{% url "add_member" %}">
									    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
									fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
									<path
										d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1L7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002-.014.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a6 6 0 0 0-1.23-.247A7 7 0 0 0 5 9c-4 0-5 3-5 4q0 1 1 1h4.216A2.24 2.24 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.5 5.5 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4" />
								</svg>
									    Add Member
									</a>
							    </div> 
						    </div><!--//row-->
					    </div><!--//table-utilities-->
				    </div><!--//col-auto-->
			    </div><!--//row--> 
		<div class="container mt-5">
        
    </div><!--//container-->	
				<div class="tab-content " id="orders-table-tab-content ">
			        <div class="tab-pane fade show active " id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
					    <div class="app-card app-card-orders-table shadow-sm mb-5 table-color">
						    <div class="app-card-body table-color ">
							    <div class="table-responsive table-color">
							        <table class="table app-table-hover mb-0 text-left ">
										<thead>
											<tr>
												<th class="cell">M_Id</th>
												<th class="cell">Member Name</th>
												<th class="cell">Package</th>
												<th class="cell">Trainer</th>
												<th class="cell">Join Date</th>
												<th class="cell">Subscription Ends</th>
												<th class="cell"></th>
											</tr>
										</thead>
										<tbody>
											{% for m in member %}
											<tr>
												<td class="cell">{{m.id}}</td>
												<td class="cell"><a href="{% url 'member_profile' m.id %}" class="truncate">{{ m.first_name }} {{ m.last_name }}</a></td>
												<td class="cell">{{m.package_name}}</td>
												<td class="cell">{{m.trainer}}</td>
												<td class="cell"><span>{{m.join_date}}</span></td>
												<td class="cell">{{ m.calculated_end_date }}</td>
											</tr>
											{% endfor %}									
										</tbody>
									</table>
						        </div><!--//table-responsive-->
						       
						    </div><!--//app-card-body-->		
						</div><!--//app-card-->
						<nav class="app-pagination">
							<ul class="pagination justify-content-center">
								<li class="page-item disabled">
									<a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
							    </li>
								<li class="page-item active"><a class="page-link" href="#">1</a></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>
								<li class="page-item">
								    <a class="page-link" href="#">Next</a>
								</li>
							</ul>
						</nav><!--//app-pagination-->
						
			        </div><!--//tab-pane-->
			    
				</div><!--//tab-content-->   
		    </div><!--//container-fluid-->
	    </div><!--//app-content-->
	    
	    <footer class="app-footer">
		    <div class="container text-center py-3">
		         <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
            
		       
		    </div>
	    </footer><!--//app-footer-->
	    
    </div><!--//app-wrapper-->    					

{{all_members_count}}
</body>

{% endblock content %}